body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.custom-button {
    width: 200px!important; /*Wiem ze important to nie najlepsza praktyka, ale w zadaniu jest napisane ze klasa ma zmienic wyglad przycisku. Zakladam ze nie wolno mi w zadaniu 1 modyfikowac stylu elementu inline*/
    height: 30px!important;
    background-color: darkseagreen!important;
    border: 2px dashed red!important;
}