@model ToDoApp.Models.FormViewModel


@using (Html.BeginForm("Save", "Home"))
{
    @Html.DropDownListFor(m => m.ComboBoxItems, Model.ComboBoxItems.Select(i => new SelectListItem { Value = i.ID, Text = i.FullName }), "Select year")

    <button type="submit" class="custom-button">Save</button>
}