@{
    ViewBag.Title = "Home Page";
    <script src="~/Scripts/Site.js"></script>
}
<br />

<button type="button" style="width:200px; height:30px;" class="custom-button" onclick="LoadContent()"> Load Content</button>

<button type="button" style="float: right" class="custom-button" onclick="ClearContent()"> Clear Content</button>

<div id="ContentID" class="jumbotron" style="margin-top:10px;">

</div>